<div class="container mt-4">
    <div class="title">
        <h2 translate="ADMIN_SITES_TITLE"></h2>
    </div>
    <table class="table table-striped">
      <thead>
      <tr>
        <th id="siteNameHeader">
          <span translate="SITE_NAME"></span>
        </th>
        <th id="siteTypeHeader">
          <span translate="SITE_TYPE"></span>
        </th>
        <th id="parentSiteNameHeader">
          <span translate="PARENT_SITE"></span>
        </th>
        <th id="siteLastUpdatedHeader">
          <span translate="LAST_UPDATED"></span>
        </th>
      </tr>
      </thead>

      <tbody>
      <tr *ngFor="let site of sites" (click)="openModal(site)" >
        <td>{{site.name}}</td>
        <td>{{site.siteType}}</td>
        <td>{{site.parentSiteName}}</td>
        <td>{{site.lastUpdated | date:'medium'}}</td>
      </tr>
      </tbody>
    </table>

    <div class="modal" id="siteModal" [style.display]="showModal ? 'block' : 'none'">
      <div class="modal-dialog modal-lg">
        <div class="modal-content">

          <!-- Modal Header -->
          <div class="modal-header">
            <h4 class="modal-title">Trial Site Details:</h4>
          </div>

          <!-- Modal body -->
          <div class="container">
            <div class="row mt-3">
              <div class="col">
                <span STYLE="font-weight:bold" translate="SITE_TYPE"></span>
              </div>
              <div class="col">
                <span id="siteStatusLabel" STYLE="font-weight:bold" translate="STATUS"></span>
              </div>
              <div class="col">
                <span STYLE="font-weight:bold" translate="LAST_UPDATED"></span>
              </div>
            </div>

            <div class="row">
              <div class="col">
                <span>{{selectedSite.siteType}}</span>
              </div>
              <div class="col">
                <span>{{selectedSite.status}}</span>
              </div>
              <div class="col">
                <span>{{selectedSite.lastUpdated | date:'medium'}}</span>
              </div>
            </div>

              <div class="row mt-3">
                <div class="col">
                  <span STYLE="font-weight:bold" translate="SITE_NAME"></span>
                </div>
                <div class="col">
                  <span STYLE="font-weight:bold" translate="PARENT_SITE"></span>
                </div>
                <div class="col">
                  <span STYLE="font-weight:bold"></span>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <span>{{selectedSite.name}}</span>
                </div>
                <div class="col">
                  <span>{{selectedSite.parentSiteName}}</span>
                </div>
                <div class="col">
                  <span></span>
                </div>
              </div>

              <div class="row mt-3">
                <div class="col">
                  <span id="siteDescriptionLabel" STYLE="font-weight:bold" translate="DESCRIPTION"></span>
                </div>
              </div>

              <div class="row">
                <div class="col">
                  <span>{{selectedSite.description}}</span>
                </div>
              </div>

            </div>

          <!-- Modal footer -->
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal" (click) = "hideModal()">Close</button>
          </div>

        </div>
      </div>
  </div>

</div>
