<div class="page-header"><h1 id="trialName">{{ this.configService.trialName }}</h1></div>
<div class="page-content">
  <div *ngIf="this.authenticationService.isAuthenticated()">
    <h1 id="welcomeMessage">{{ 'WELCOME' | translate }}</h1>
    <div translate="USER_LOGGED_IN"></div>
    <br/>

    <div *ngIf="this.profilesState==State.success">
      <div *ngFor="let profile of profiles">
        <div>
          <h2 id="staffsName">{{ 'HELLO' | translate }}:  {{profile.prefix}}  {{profile.givenName}} {{profile.familyName}}</h2>
          <div>practitioner id = {{profile.id}}</div>
          <div>azure id = {{profile.userAccountId}}</div>
        </div>
      </div>
    </div>


    <div *ngIf="this.profilesState==State.init">Fetching your profile...</div>

    <div *ngIf="this.profilesState==State.failed" class="error">
      There was an error getting profile data.
    </div>

  </div>

  <div *ngIf="!this.authenticationService.isAuthenticated()">
      <h1 translate="LANDING"></h1>
      <div translate="USER_NOT_LOGGED_IN"><br/>
        <button id="login" class="btn btn-primary" (click)="this.authenticationService.login()">{{'LOGIN' | translate}}</button>
      </div>
  </div>
</div>
