<div class="page-content">
  <div *ngIf="this.authenticationService.isAuthenticated()">
    <h1>Welcome</h1>
    <div>You are logged in.</div>
    <h2>Your profile:</h2>
    <div>Info from token: username= {{this.authenticationService.getUsername()}} oid={{this.authenticationService.getOid()}}</div>

    <div *ngFor="let profile of profiles">
      <div>
        Info from practitioner service:
        givenName = {{profile.givenName}}
        familyName = {{profile.familyName}}
        prefix = {{profile.prefix}}
        id = {{profile.id}}
      </div>
    </div>

    <div><button (click)="displayProfile(this.authenticationService.getOid())">Display profile</button></div>


  </div>

  <div *ngIf="!this.authenticationService.isAuthenticated()">

      <h1>Landing Page</h1>
      <div class="login">
        You are not logged in.<br/>
        <button mat-raised-button color="primary" (click)="this.authenticationService.login()">Login</button>
      </div>
  </div>



</div>


